nav {
  background: #ffffff;
  padding: 10px;
}

nav a {
  color: blue;
  margin-right: 15px;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background: #ffffff;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #f9fafb;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  margin-top: 40px;
}

html {
  overflow-y: scroll;
}
